.react-slicer {
  display: block;
  &__pagination {
    display: block;
    list-style: none;
    padding-left: 0;
  }
  &__page-num {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    color: #007bff;
    border: 1px solid #dee2e6;
    margin-left: -1px;
    &:hover {
      background-color: #e9ecef;
      transition-duration: .2s;
    }
    &:first-of-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}